<h1 class="subtitle" style="margin-bottom: 5px;">Available Flights</h1>
<%= form_with(url: nil, local:true, method: :get) do |f| %>
  <% @available_flights.each do |flight| %>
    <div class="row">
      <%= f.radio_button :selection, false%>
      <%= flight.from_airport.code %>
      ->
      <%= flight.to_airport.code %>
      <%= flight.date %>
      <%= flight.duration %> minutes
      <%= flight.vacant_seats %> seats left
    </div>
  <% end %>
  <div class="control">
    <%= f.submit "Proceed"%>
  </div>
<% end %>
