<p id="notice"><%= notice %></p>
<%= form_with(url: flights_path, local:true, method: :get) do |f| %>
  <div class=container style="display:flex">
    <div class=control>
      <%= f.select(:from_airport, @airport_options) %>
    </div>
    ->
    <div class=control>
      <%= f.select(:to_airport, @airport_options) %>
    </div>
  </div>
  <label class="label">Passengers:</label>
  <div class=field>
    <div class="control">
      <%= f.number_field :passengers %>
    </div>
  </div>
  <div class="control">
    <%# <%= select_month(Date.today) %>
    <%# <%= f.select(:datetime, @datetime_options) %>
  </div>
  <div class=control>
    <div class="actions">
      <%= f.submit "Search" %>
    </div>
  </div>
<% end %>
<%= (render "search_results") if @available_flights%>
<br>
<%= link_to 'New Flight', new_flight_path %>
