<p id="notice"><%= notice %></p>
<h1>Bookings</h1>
<table class="table">
  <thead>
    <tr>
      <th>Flight</th>
      <th>Passenger id</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.flight_id %></td>
        <% booking.passengers.each do |passenger|%>
          <td><%= passenger.id %></td>
          <td><%= passenger.name %></td>
          <td><%= passenger.email %></td>
        <% end %>
        <td><%= booking.flight.from_airport.code %></td>
        <td><%= booking.flight.to_airport.code %></td>
        <td><%= booking.flight.date %></td>
        <td><%= booking.flight.duration %></td>
        <td><%= booking.flight.vacant_seats %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
